:root {
    --background: #FB6B6B;
    --redText: #D70900;
    --blackText: #333333;
    --redButton: #FF3030;
    --orangeButton: #FF922E;
    --grrenButton: #2FBE34;
    --fontRighteous: 'Righteous', cursive;
    --fontRecursive: 'Recursive';
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}
/*1 rem turns out 10px**/


footer {
    height: 30px;
    margin: auto;
}

footer p {
    font-family: 'Recursive';
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
}